@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

body {
font-family: 'Roboto', sans-serif;
text-align: center;
}

h1 {
font-family: 'Playfair Display', serif;
font-size: 50px;
}

h3 {
font-family: 'Playfair Display', serif;
font-size: 20px;
color: #172601;
}


h4 {
color: #172601;
font-size: 17px;


}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

ul {
  list-style: none;
  text-align: center;
}
li {
    display: inline-block;
}

#head {
  background-color: #F2EFDF;
  padding: 20px 20px 20px 20px ;
  display: inline-block;
  margin: 10px auto;
  background-size: auto;
}


#about {
  background-color: #D9D4BA;
  padding: 20px 20px 20px 20px ;
  display: inline-block;
  margin: 10px auto;
}


#hobbies {
  background-color: #F2EFDF;
  padding: 20px 20px 20px 20px ;
  display: inline-block;
   margin: 10px auto;
  background-size: auto;

}

#spec {
  background-position: top;
}

.button {
  background-color: #73653D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  font-weight: 1200;
}

a {
  text-decoration: none;
  color: #D9D4BA;
}

a:hover {
  background-color: #172601;
}


#me {
  border-radius: 100px;
}

.footer {
  background-color: #172601;
  color: #D9D4BA;
  list-style: none;
  padding: 20px 20px 20px 20px ;
}

.footer h3 {
  color: #D9D4BA;
}

#this {
font-family: 'Playfair Display', serif;
font-size: 18px;
}

.card {
  width: 80%;
}
